@charset "utf-8";
header{
    width: 800px;
    height: 150px;
    margin:auto;
}
#header_1{
    height: 40%;
    margin-top: 20px;
    margin-left: 10px;
}
#header_2{
    height: 60%;
}
#box_1{
    width:800px;
    margin: auto;
}
#box_2{
    float: left;
    width: 400px;
}
.box_4{
    width: 350px;
    height: 350px;
    margin: 25px;
    margin-bottom: 10px;
    background-color:rgba(0, 0, 0,0.5);
}
.box_5{
    margin-left: 25px;
    width: 350px;
    height: 30px;
    background-color:rgba(0, 0, 0,0.5);
}
.box_6{
    width: 350px;
    height: 200px;
    margin: 30px 25px;
    background-color:rgba(0, 0, 0,0.5);
}
#box_3{
    margin-top: 25px;
    float: right;
    width: 400px;
    
}
#box_6{
    width: 50%;
    float: left;      
}
 
#box_7{
    width: 170px;
    height: 170px;
    margin: 0px 15px;
    background-color:rgb(236, 194, 8);
}
#box_8{
    width: 170px;
    height:500px;
    margin: 20px 15px;
    background-color: chartreuse;
}
#box_9{
    width: 170px;
    height: 120px;
    margin:20px 15px;
    background-color: chartreuse;
}
#box_10{
    float: right;
    width: 50%;
}
#box_11{
    width: 170px;
    height: 170px;
    margin: 0px 15px;
    background-color: rgb(69, 69, 70);
}
#box_12{
    width: 170px;
    height: 80px;
    margin: 15px;
    background-color: rgb(99, 99, 99);
}
#box_13{
    width: 170px;
    height: 150px;
    margin: 15px;

}
footer{
    clear: both;
    width:700px;
    height: 100px;
    margin: auto;
}
